body {
    font-family: "Unbounded";
    font-size: 1.8em;
    height: 100%;
    width: 100%;
}

#splash {
    width: 100vw;
    height: 100vh;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: #000000;
}

#splash-text {
  margin-left: 2%;
  margin-top: 35vh;
  color: #ff3399;
  text-align: center
}

#start-button {
  background-color: #fff;
  width: fit-content;
  margin: auto;
}

#start-button:hover {
  background-color: #000;
}

#start-button h4 {
  padding: 10px;
  font-size: 0.8em;
  text-align: center
}
